*{
    margin:  0;
    padding: 0;
}

.header2{
    display: flex;
    height: 50px;
    align-items: center;
    background-color: black;
    text-transform : capitalize;
    color: white;
}
.left{
    width: 70%;
    font-size: 30px;
}
.right{
    width: 30%;
    margin-right: 5%;
    justify-content: space-evenly;
    text-align: right;
    font-size: medium;
    word-spacing: 20px;
    text-transform: capitalize;
}
img{
    height: 500px;
    width: 100%;
    top: 50%;
}
.upload-label{
    margin-left: 46%;
}
h4{
    margin-left: 46%;
}
a{
    color: white;
    margin-right: 20px;
}
a:link{
    text-decoration : none;
}

.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    color: #39D2B4;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
input[type=button], input[type=submit], input[type=file] {
  background-color: black;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.text-center{
  text-align:center;
  font-weight: bold;
  font-size: 25px;
}