<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBMDR</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="header2"><p class="left">Diabetic Retinopathy Classification</p> 
    <div class="right">home  
        <a href="http://127.0.0.1:5000/login">login</a>
        <a href="http://127.0.0.1:5000/register">register</a>
        <a href="http://127.0.0.1:5000/result">prediction</a></div></div>
    <img src="../static/css/shutterstock_329627426-960x61234.jpg">
    <p class="about">about project</p>
    <div class="lefttext"><p class="head">Problem:</p>
        Diabetic Retinopathy (DR) is a common complication of diabetes mellitus, which causes lesions on the retina that affect vision. If it is not detected early, it can lead to blindness. Unfortunately, DR is not a reversible process, and treatment only sustains vision. DR early detection and treatment can significantly reduce the risk of vision loss. The manual diagnosis process of DR retina fundus images by ophthalmologists is time, effort and cost-consuming and prone to misdiagnosis unlike computer-aided diagnosis systems.
    </div>
    <div class="righttext"><p class="head">Solution:</p><p>In this project, we will be building a Transfer model that can detect and classify types of Diabetic Retinopathy.A web application is integerated with the model, from where the user can upload a Diabetic Retinopathy image and can classify which type of DR it is and see the result on the User Interface</p></div>
</body>
</html>